* {
    padding: 0;
    margin: 0;
} 

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

body {
    background-color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
}

.btn-yellow{
    background-color: yellow;
    color: black;
    width: 60px;
    height: 40px;
    border: 2px solid #000;
    box-shadow: 4px 4px #000;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    
}


    .p{
        display: flex;
        justify-content:left;
        align-items: center;
        padding: auto;
        flex-direction: column;
    }

    .col-1{
        display: flex;
        justify-content:center;
        align-items: right;
        flex-direction: row;
    }


    .h1, .h2, .h3 { 
        text-align: left;
        padding: 5%;
    }


    .userInfo{
        padding: 30px 40px 30px 30px;
        border: 2px solid black;
        margin-bottom: 20px;
        border-radius: 5px;
        font-size: 1.2rem;
        height: 100px;
        width: 600px;
        margin-left: 95px;
        
    }
    
    .upperInfo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    
    .topRightSide{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }




